<%= form_for [:admin, @recipe] do |form| %>
  <% if @recipe.errors.any? %>
   <div class= 'alert'>
   <h2> You have errors </h2>

   <ul>
     <% @recipe.errors.full_messages.each do |message| %>
     <li><%= message  %></li>
     <% end %>
   </ul>
   </div>

  <% end %>

  <p>
  <%= form.label :name %><br>
  <%= form.text_field :name  %>
  </p>
  <p>
  <%= form.label :minutes %><br>
  <%= form.text_field :minutes  %>
  </p>
  <p>
  <%= form.label :description %><br>
  <%= form.text_area :description  %>
  </p>
  <p>
  <%= form.label :directions %><br>
  <%= form.text_area :directions  %>
  </p>

  <%= form.label :ingredient_ids, 'Ingredients' %>
  <%= form.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>

  <%= form.submit  %> or <%= link_to 'Cancel', admin_recipes_path  %>

  <% end %>
