<%= form_for [:admin, @recipe] do |form| %>
  <% if @recipe.errors.any? %>
   <div class= 'alert'>
     <h2> You have errors </h2>

     <ul>
       <% @recipe.errors.full_messages.each do |message| %>
       <li><%= message  %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name  %></p>
  <p><%= form.label :minutes %></p>
  <p><%= form.text_field :minutes  %></p>
  <p><%= form.label :description %></p>
  <p><%= form.text_field :description  %></p>
  <p><%= form.label :directions %></p>
  <p><%= form.text_field :directions  %></p>


  <div class="photo_upload">
    <%= form.label :photo %>
    <%= image_tag @recipe.photo.url(:thumb) %>
    <%= form.file_field :photo %>
  </div>


  <p><%= form.label :ingredient_ids, 'Ingredients' %></p>
  <div><%= form.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %></div>

  <div><%= form.submit  %> or <%= link_to 'Cancel', admin_recipes_path  %></div>

  <% end %>
