<%= form_for [:admin, @ingredient] do |form| %>
  <% if @ingredient.errors.any? %>
   <div class= 'alert'>
   <h2> You have errors </h2>

   <ul>
     <% @ingredient.errors.full_messages.each do |message| %>
     <li><%= message  %></li>
     <% end %>
   </ul>
   </div>
  <% end %>
  <br>
  <p><%= form.label :name %></p>
  <p><%= form.text_field :name  %></p>
  <p><%= form.label :category_id, 'Categories' %></p>
  <p><%= form.select(:category_id, Category.pluck(:name, :id)) %></p>

  <div><%= form.submit  %> or <%= link_to 'Cancel', admin_ingredients_path %></div>

<% end %>
